
<centre>
  <h5>All your details have been successfully captured and the form has been submitted.</h5>
  <h5> Please wait for your details to be verified, this may take up to a week and if you are accepted then you will receive a email indicating </h5>
  <h5>that you may proceed to registration.</h5>
  <h5>Thank You!! </h5>
</centre>