<section class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>About us</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h4>Our history</h4>
                <p>Durban Girls Secondary School is a proudly South African secular co-ed school with a rich history spanning 113-years. Our innovative approach to education, world-class teachers, and core focus on the social and emotional well-being of students have all resulted in our hard-earned reputation as one of the top independent schools in South Africa. Redhill is also the only school in the country to offer students the option of graduating with either an IEB or IB (International Baccalaureate) qualification.
                    </p></div>
            <div class="col-xs-12 col-sm-4">
                <h4>Our vision</h4>
                <p>
                    Durban Girls Secondary School has enjoyed tremendous success as a beacon of academic excellence. This success has not materialised by accident. It has been through hard work, dedication and the partnerships that have flourished among the staff, parents and the most important stakeholders in the equation - the students." - Dimitra Adramitoglou
                </p></div>
            <div class="col-xs-12 col-sm-4">
                <h4>Our values</h4>
                <p>
                    “To be a world-class, South African learning community, building leaders for their time"</p>

                <p>
                    Durban Girls Secondary School strives to build a community in which students and educators are fully able to actualise their unique potential.
                    It values the efforts of all those who use their talents and skills to achieve personal and Collective excellence.
                </p>
                      </div>
        </div>
    </div>
</section> <!-- end of about